<div class="container">
  <h1>Angular API Project</h1>
  <div class="text-danger" *ngIf='msg!=undefined'>
    <h2>{{msg}}</h2>
  </div>
  <div class="text-danger" *ngIf='errMsg!=undefined'>
    <h2>{{errMsg}}</h2>
  </div>
  <input type="button" class="btn btn-primary" (click) = "displayData()" value="Display"/>
  &nbsp;&nbsp;
  <input type="button" class="btn btn-primary" (click) = "back()" value="Back"/>
</div>


<div class="container" *ngIf="loadData">
  <br>
  <input type="text" [(ngModel)] = "query" placeholder="Search">
  <table class = "table table-hover">
    <thead>
      <tr>
        <th>User ID</th>
        <th>ID</th>
        <th>Title</th>
        <th>Status</th>
        <th>Delete</th>
      </tr>  
    </thead>
    <tbody><tr *ngFor ="let item of data | search : query">
      <td>{{item.userId}}</td>
      <td>{{item.id}}</td>
      <td>{{item.title}}</td>
      <td>{{item.body}}</td>
      <td><input type="button" class = "btn btn-danger" (click)="deleteEmployee(item.id)" value="Delete"></td>
    </tr>
  </tbody>
  </table>
</div>
